<!DOCTYPE HTML>
<html>

<head>
    <title>Notify Socket Test</title>
    <link href="/static/recrepo/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
{% raw %}

<body>
    <div id="app" style="margin: 16px;">

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>notify: {{ notify.notify }}</h3>
                <P>title: {{ notify.title }}</P>
                <P>device: {{ notify.device }}</P>
                <p>webTime: {{ time_stamp }}</p>
                <p>serverConnected: {{ connected }} </p>
            </div>
        </div>

    </div>

</body>
{% endraw %}
<script src="/static/recrepo/jquery/v1.12.4/jquery.min.js"></script>
<script src="/static/recrepo/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script src="/static/recrepo/vue/v2.6.11/vue.js"></script>
<script crossorigin="anonymous" src="/static/recrepo/axios/v0.20.0-0/axios.min.js"></script>
<script src="/static/recrepo/socketio/v2.2.0/socket.io.js"></script>

<script type="text/javascript" charset="utf-8">

    var NAMESPACE = "/root_ns";

    var ENTRANCE_NOTIFICATION = "en_notify_all";
    var ENTRANCE_NOTIFICATION_MONITOR_ONLY = "en_notify_monitor_only";

    new Vue({
        el: "#app",
        data: {
            connected: false,
            notify: {
                title: "",
                notify: "",
                device: ""
            },
            socket: "",
            time_stamp: ""
        },
        methods: {
            get_time1: function (time = +new Date()) {
                var date = new Date(time + 8 * 3600 * 1000);
                return date.toJSON().substr(0, 19).replace('T', ' ');
                // 时间戳需要毫秒数 则切取23位
            },
            get_time2: function (time = +new Date()) {
                var date = new Date(time + 8 * 3600 * 1000);
                return date.toJSON().substr(0, 19).replace('T', ' ').replace(/-/g, '.');
            }
        },
        mounted() {
            var that = this;
            this.socket = io(NAMESPACE);
            this.socket.on(ENTRANCE_NOTIFICATION, function (msg) {
                that.notify.notify = msg.notify;
                that.notify.title = msg.title;
                that.notify.device = msg.device;
                that.time_stamp = that.get_time1();
                console.log(ENTRANCE_NOTIFICATION,msg);
            });
            // socket.on(ENTRANCE_NOTIFICATION_MONITOR_ONLY, function (msg) {
            //     console.log(ENTRANCE_NOTIFICATION_MONITOR_ONLY);
            //     console.log(msg);
            // });

            this.socket.on('connect', function () {
                that.connected = true;
                that.socket.emit('my_ping', { data: 'connected to the SocketServer...' });
                that.socket.emit('device_report', { data: 'test device report' });
            });

            this.socket.on("device_info_broadcast",(msg)=>{
                console.log("device_info_broadcast",msg);
            });

            this.socket.on('my_pong', function (msg) {
                console.log("my_pong",msg);
            });

            this.socket.on('disconnect', function () {
                that.connected = false;
                console.log('disconnect')
            });
        }
    });



</script>

</html>