<!DOCTYPE html>
<html>
  <head>
    <title>Notify Socket Test</title>
    <link
      href="/static/recrepo/bootstrap3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  {% raw %}

  <body>
    <div id="app" style="margin: 16px">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <legend>Form title</legend>

          <div class="form-group">
            <label>File</label>
            <input
              type="file"
              class="form-control"
              @change="record_file($event)"
            />
          </div>

          <div class="form-group">
            <label>Note</label>
            <input
              type="text"
              class="form-control"
              placeholder="Input field"
              v-model="note"
            />
          </div>

          <button class="btn btn-primary" @click="send_request_post_file">
            Submit
          </button>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">File List</h3>
        </div>
        <div class="panel-body">
          <div class="panel panel-default" v-for="item in files">
            <div class="panel-body">
              <a href="#" @click="go_to_download_page(item.token)"
                >{{ item.con.FilenameOriginal }}</a
              >
              <p>exists: {{ item.exists }}</p>
              <p>uploadTime: {{ item.create_time }}</p>
              <a href="#" @click="delete_by_token(item.token)">delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endraw %}
  <script src="/static/recrepo/jquery/v1.12.4/jquery.min.js"></script>
  <script src="/static/recrepo/bootstrap3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/recrepo/vue/v2.6.11/vue.js"></script>
  <script
    crossorigin="anonymous"
    src="/static/recrepo/axios/v0.20.0-0/axios.min.js"
  ></script>
  <script src="/static/recrepo/socketio/v2.2.0/socket.io.js"></script>

  <script type="text/javascript" charset="utf-8">
    new Vue({
      el: "#app",
      data: {
        note: "",
        file_upload: [],
        files: [],
      },
      methods: {
        get_time1: function (time = +new Date()) {
          var date = new Date(time + 8 * 3600 * 1000);
          return date.toJSON().substr(0, 19).replace("T", " ");
          // 时间戳需要毫秒数 则切取23位
        },
        get_time2: function (time = +new Date()) {
          var date = new Date(time + 8 * 3600 * 1000);
          return date
            .toJSON()
            .substr(0, 19)
            .replace("T", " ")
            .replace(/-/g, ".");
        },
        inList: function (l, token) {
          // console.log(l,token)
          for (var i = 0; i < l.length; i++) {
            if (l[i] == token) {
              return true;
            }
          }
          return false;
        },
        go_to_download_page: function (token) {
          window.open("/file/download?token=" + token, "_blank");
        },
        delete_by_token: function (token) {
          if (!confirm("delete this file?")) {
            return;
          }
          var that = this;
          axios.delete("/file/delete?token=" + token).then((r) => {
            console.log(r.data);
            that.get_files_list();
          });
        },
        get_files_list: function () {
          var that = this;
          axios.get("/file/list").then((r) => {
            // console.log(r.data);
            var tmp = r.data.Body;
            for (var i = 0; i < tmp.db.length; i++) {
              tmp.db[i]["exists"] = that.inList(tmp.folder, tmp.db[i]["token"]);
            }
            that.files = tmp.db;
          });
        },
        send_request_post_file: function () {
          var that = this;
          if (this.file_list.length == 0) {
            console.log("文件列表为空");
            return;
          }
          var formData = new FormData();
          this.file_list.forEach((element) => {
            formData.append("file", element);
          });
          formData.append("note", this.note);
          let config = {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          };
          axios
            .post("/file/upload", formData, config)
            .then((response) => {
              console.log(response);
              that.get_files_list();
            })
            .catch((err) => {
              console.log(err);
            });
        },
        record_file: function (event) {
          this.file_list = [];
          var files = event.target.files;
          console.log(files);
          for (var i = 0; i < files.length; i++) {
            var filename = files[i].name;
            var size = files[i].size;
            if (size > 10485760) {
              console.log(
                "file",
                filename,
                "is too large, as",
                size / 1024 / 1024,
                "MB"
              );
              continue;
            }
            this.file_list.push(files[i]);
          }
        },
      },
      mounted() {
        this.get_files_list();
      },
    });
  </script>
</html>
